<div class="search">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" autocomplete="off" />

	<button class="search_button btn-text">
		<img src="/catalog/view/theme/rumgips/image/search.svg" alt="Поиск по сайту">
	</button>

</div>
