<div class="home_page_banner">
	<div class="wrapper">
		<img src="/catalog/view/theme/rumgips/image/home_page_banner/denkirs-logo.webp" alt="Denkirs">
		<p class="name">ОСВЕЩЕНИЕ DENKIRS -20%</p>
		<a href="#">В каталог</a>
	</div>
</div>